h4{
    text-align: center;
    margin: 0%;
    color: black;
    font-size: 1.5em;
}
.eclipse {
  position: absolute;
  background-color: #6CB840;
  border-radius: 126px 126px 126px 0;
}
.header {
  margin-left: 50px;
  color: black;
}
ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
}
li {
    display: inline;
    margin: 60px;
    font-size: 1.0em;
    margin-right: 15px;
}
p{
    text-align: left;
    align-content: flex-end;
    font-size: 1.0em;
}
#home {
    text-align: left;
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -400px;
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  text-align: center;
  font-size: 10pxx;
  padding-left: 20px;
}
.flexcontainer1{
  display: flex;
  flex-wrap: wrap;
}
.item-1 {
  position: absolute;
  bottom: 500px;
  top: 1410px;
}
.item-2 {
  position: relative;
  left: 55px;
  top: 50px;
  bottom: 100px;
}
.item-3 {
  text-align: center;
  height: 100px;
  width: 300px;
}
.deals{
  color: #6CB840;;
}
.upper-text{
  text-align: center;
}
.hot{
  margin-left: 70px;
  margin-right: 70px;
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
}
.hot img {
  position: absolute;
}
.container {
  height: 1100px;
  width: 1250px;
  background-repeat: no-repeat;
  background-size: contain;
}
.street {
  margin-left: 80px;
}
.play {
  margin-left: 80px;
}
.food {
  margin-left: 80px;
}
.contact3 {
  text-align: center;
}
.nav {
  border: none;
  text-align: center;
  border-radius: 20px;
}
.tab {
  border: none;
  text-align: center;
  border-radius: 20px;
}
.tablink {
  border: none;
  background-color: #6CB840;
  border-radius: 20px;
}
.placeholder {
  border-radius: 20px;
}
vl {
  border: 1px dashed #6CB840;
  height: 10cm;
}

.contact4 {
  text-align: right;
  text-align: justify;
}.burger {
  display: inline;
  margin-left: 2%;
  float: inline-end;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: lightgrey;
}
.grid-item {
  border: 1px;
  padding: 20px;
  float: left;
  text-align: center;
  float: left;
}
#happy hour {
  background-color: #C9ecb5;
}
.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.item {
  padding: 30px;
  text-align: center;
  float: left;
  margin: 40px;
  padding-inline-end: 60px;
}
.item1 {
  border-right: 2px dotted #6CB840;
  padding-inline-end: 20px;
}
#tab {
  margin-left: 120px;
  border: none;
} 
#tablink {
  background-color: #6CB840;
  border-radius: 20px;
  border-color: #6CB840;
  border: none;
}
a{
  text-decoration: none;
  color: black;
  padding-top: -30px;

}
#contact {
  background-color: #FFD77C;
}
#footer {
  background-color: #6CB840;
}