h4{
    text-align: center;
    margin: 0%;
    color: black;
    font-size: 1.5em;
}
ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
}
li {
    display: inline;
    margin: 2.5%;
    font-size: 1.2em;
}
body{
    background-color: lightgrey;
    
}
p{
    text-align: left;
    align-content: flex-start;
    font-size: 0.8em;
}
#home {
    text-align: left;
}  
h4{
    font-weight: bold;
}
